# Ambiente virtual Python
.venv/
venv/
env/

# Output do mkdocs build / gh-deploy
site/

# Cache do Python
__pycache__/
*.pyc

# Ficheiros de IDE / editor
.vscode/
.idea/
*.swp

# Ficheiros de sistema operativo
.DS_Store
Thumbs.db